    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 style="margin-bottom:10px">Group Lessons for Adults</h2>
                    <h4 style="margin-bottom:10px;">Piano and Guitar</h4>
                    <p style="margin-bottom:10px;">Open to anyone who is ready to enjoy exciting journey to the world of music<br><br><br></p>
                    <h3 style ="color:#FFDF4F; bold:true;">$25/45min - 4 persons or more</h4>
                </div>
            </div>
        </div>
    </section>
