    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Group Lessons for Adults<br><br><br></h2>
                    <h4>Piano and Guitar<br><br><br></h4>
                    <p>Open to anyone who is ready to enjoy exciting journey to the world of music<br><br><br></p>
                    <h3 style ="color:#FFDF4F; bold:true;">$25/45min - 4 persons or more</h4>
                </div>
            </div>
        </div>
    </section>
